.margin-bottom-10px {
    margin-bottom: 10rpx;
}

.fab-button-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.fab-button-right {
    position: fixed;
    bottom: 10rpx;
    right: 180rpx;
    z-index: 20;
}
