.margin-bottom-10px {
    margin-bottom: 10px;
}

.fab-button-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.fab-button-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
