.fix_view {
  display: block;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  height: 25PX;
  padding-left: 40PX;
  background-color: rgba(16, 142, 108, 0.75);
  color: #cc3399;
}
